* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
}

.nav-bar {
  background-color: #f0f0f0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5.5rem;
  padding: 0 4rem 0 4rem;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.logo {
  width: 311px;
}

.nav-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}

.nav-links > a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-links > img {
  width: 25px;
  height: 25px;
}

.nav-links > button {
  border: none;
}

.dot-menu {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.dot {
  width: 4px;
  height: 4px;
  background: #3683f0;

  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

main {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 0 10rem;
  height: 100vh;
}

.section-1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.section-1 > h1 {
  color: #0029ff;
  font-weight: 600;
}

.section-1 > button {
  background: #0029ff;
  color: #fff;
  padding: 0.5rem 1.5rem;
  border-radius: 10px;
  border: none;
}

.section-2 {
  background: #e9ecef;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  border-radius: 5px;
}
.section-2 > p:first-child {
  margin-bottom: 1rem;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.02em;
  text-align: left;
}

.section-2 > p:last-child {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.02em;
  text-align: left;
}

/* -------------------------------------------------- */

.left-aside {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0px;
  top: 0px;
  /* width: 24.5rem; */
  width: 8rem;
  height: 43rem;
  gap: 0px;
  border-radius: 0px 20px 20px 20px;
  background: #fdfdfd;
  box-shadow: 0px 4px 4px 0px #00000040;
  font-size: 16px;
  transition: all 0.5s;
  z-index: 1;
  overflow: hidden;
}

#links > li > a {
  color: #000000;
  text-decoration: none;
}

.head {
  background: #000000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  height: 50px;
  overflow: hidden;
  border-radius: 0px 20px 0px 0px;
  position: relative;
}

.head > p {
  display: none;
}

.head > button {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 0;
  border: none;
  margin: 0;
  background: transparent;
}

#collapsible {
  display: none;
}

.switch {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 0;
  border: none;
  margin: 0;
  background: transparent;
}

.arrow {
  width: 38px;
}

.collapsible-content {
  margin-left: 4rem;
  display: none;
  opacity: 0;
  transition: all 0.5s;
}

.left-aside-title {
  margin: 1rem 0 1rem 0;
}

.left-aside:has(.collapsible:checked) {
  width: 24.5rem;
  opacity: 1;
}

.arrow {
  transform: rotate(0deg);
  transition: all 0.5s;
}

.left-aside:has(.collapsible:checked) > .head .arrow {
  transform: rotate(180deg);
}

.left-aside:has(.collapsible:checked) > .collapsible-content {
  display: block;
  opacity: 1;
}

.left-aside:has(.collapsible:checked) > .head > p {
  display: block;
}

.left-aside:has(.collapsible:checked) > .before-open {
  display: none;
}

.before-open {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0029ff;
  font-size: 1.5rem;
  font-weight: 600;
  width: 4rem;
  height: 4rem;
  margin: 2rem;
  /* padding: 1rem; */
  border-radius: 20px;
  border: 1px solid #0029ff;
}

/* -------------------------------------------------- */

.right-aside {
  display: flex;
  position: absolute;
  right: 0px;
  top: 20px;
  /* width: 24.5rem; */
  width: 6rem;
  height: 24.5rem;
  border-radius: 30px 0px 0px 30px;
  opacity: 0px;
  background: #fdfdfd;
  box-shadow: 0px -4px 4px 0px #00000040;

  box-shadow: 0px 4px 4px 0px #00000040;

  font-size: 16px;
}

.right-aside > .head {
  background: #000000;
  width: 50%;
  height: 100%;
  color: #fff;
  /* padding: 0.5rem 1rem; */
  padding: 0;
  overflow: hidden;
  border-radius: 30px 0px 0px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.right-aside > .head > button > img {
    width: 20px;
    height: 20px;
}

.right-aside > .head > button {
  padding: 0;
  top: 20px;
  right: 12px;
  background: transparent;
  border: none;
  color: #f0f0f0;
  font-size: 0rem;
  display: flex;
  align-items: center;
}

.right-aside > .head > p {
  display: flex;
  writing-mode: vertical-rl;
  text-orientation: upright;
}

.bottom-buttons {
  display: flex;
  flex-direction: column;
  position: fixed;
  gap: 1rem;
  bottom: 1rem;
  right: 3.5rem;
}

.bottom-button {
  height: 4.5rem;
  width: 4.5rem;
  background-color: #0029ff;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-button > img {
  width: 35px;
  height: 35px;
}

/* ----------------------------------------------------- */

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5rem;
  margin: 1rem 0;
}


.card {
  height: 36.25rem;
  width: 30rem;
  border-radius: 15px;
  margin: 4rem 1.5rem 0rem 1.5rem;
  box-shadow: 0px -4px 4px 0px #00000040;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.card-head {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  color: #fff;
  height: 3rem;
  border-radius: 15px 15px 0px 0px;
}

.info-icon {
  position: absolute;
  width: 22px;
  height: 22px;
  background-color: #fff;
  border-radius: 100%;
  right: 1.5rem;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-family: "poly";
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.02em;
}

.card > p {
  margin: 1rem 1rem 1rem 1rem;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.02em;
  text-align: left;
}

.card > p > span {
  font-weight: 700;
}

.card > iframe {
  width: 100%;
  border: none;
}

.card:has(.thread) {
  height: fit-content;
  overflow: hidden;
  transition: all 0.5s;
}

.collapse {
  display: none;
}

.thread-head {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 0.5rem;
}

.thread-head > h2 {
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0.02em;
}

.thread:has(.collapse:checked) > .thread-content {
  height: 410px;
}

.thread:has(.collapse:checked) > .thread-head img {
  transform: rotate(180deg);
}

.card-collapsible > img {
  transition: all 0.8s;
}

.thread-content {
  height: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: 1rem;
  transition: height 0.8s;
}

.thread-sub-cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.thread-sub-card {
  width: 12rem;
  height: 6rem;
  margin: 1rem 2rem 1rem 2rem;
  background: #fafafa;
  border-radius: 10px;
  box-shadow: 1px 3px 8px 0px #00000040;
}

.thread-sub-card > label {
  padding: 0.5rem;
}

.thread-textarea {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: none;
  box-shadow: 1px 3px 8px 0px #00000040;
  resize: none;
}

.thread-textarea::placeholder {
  padding: 0.5rem;
  font-family: "Poppins", sans-serif;
}

.thread-icons {
  display: flex;
  gap: 1rem;
}

.thread-icons > img {
  width: 20px;
  height: 20px;
}

.thread-icons-select {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1rem;
  margin: 0 2rem;
}

.sub-button {
  margin-left: 2rem;
}

.sub-button > button {
  background: #0029ff;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  text-align: center;
}

.thread-sub-large {
  height: 6rem;
  background: #fafafa;
  border-radius: 10px;
  box-shadow: 1px 3px 8px 0px #00000040;
  margin: 0.5rem 2rem;
}

.thread-sub-large > label {
  padding: 0.5rem;
}

/* ------------------------------------------------ */

.card:has(.card-structure) > p {
  /* font-size: 16px; */

  padding: 1.5rem 0.5rem 1rem 0.5rem;
}

.card-structure {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.title-block {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.title-block > label {
  font-size: 16px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0.02em;
}

.title-block > input {
  box-shadow: -2px 2px 6px 0px #00000026;
  background: #fcfbfb;
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  height: 2.5rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.content > h4 {
  font-size: 16px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0.02em;
}

.content-box {
  color: #616161;
}

.content-menus {
  display: flex;
  flex-direction: column;
  height: 5rem;
  box-shadow: 0px 2px 10px 0px #0000002e;
  border-radius: 5px, 5px, 0px, 0px;
  z-index: 10;
  background: #fcfbfb;
}

.content-buttons1 {
  display: flex;
  gap: 0.5rem;
  padding: 1rem 2rem 1rem 0.5rem;
  justify-content: space-evenly;
}

.content-buttons1 button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 12px;
  color: #616161;
}

.content-buttons2 {
  padding: 0rem 1.5rem;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.content-buttons2 img:nth-child(2) {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.content-buttons2 img {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.content-buttons2 p {
  font-size: 12px;
  color: #616161;
  background: #ebebeb;
  padding-right: 2rem;
}

.content-buttons2 button {
  background: transparent;
  border: none;
  cursor: pointer;
  color: #616161;
}

.content-buttons2 button > .dot-menu {
  rotate: 90deg;
}

.content-buttons2 button > .dot-menu .dot {
  background: #616161;
}

.content-textarea {
  box-shadow: -2px 2px 6px 0px #00000026;
  padding: 1rem;
  border: none;
  width: 100%;
  height: 11.3rem;
  background: #fcfbfb;
  resize: none;
}

/* ------------------------------------------------ */

.card:has(.card-4sa) {
  height: fit-content;
  padding-bottom: 0.5rem;

}

.card-4sa {
  padding: 0rem 1.5rem;
}

.card-4sa-head {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  gap: 1rem;
  background: #f2f2f2;
}

.card-4sa-head > h2 {
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0.02em;
}

.card-4sa-content {
  display: flex;
  flex-direction: column;
  transition: all 0.5s;
  height: 0;
  overflow: hidden;
}

.card-4sa-content p {
  font-size: 14px;
  padding: 1rem 1rem 1rem 2rem;
}

.card-4sa-content button {
  margin-top: 1rem;
  align-self: flex-end;
  width: fit-content;
  margin-bottom: 1rem;

  background: transparent;
  border: none;
  cursor: pointer;
  color: #606161;
}

.card-4sa-head:has(.thread-4sa) {
  background: transparent;
  border: 1px solid #d9d7d7;
}

.card-content-examples {
  display: flex;
  flex-direction: column;
}

.card-content-examples .example {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}

.card-content-examples .example > h4 {
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0.02em;
  border: 1px solid #d9d7d7;
  padding: 0.5rem 1rem;
}

.card-content-examples .example > p {
  font-size: 14px;
  font-weight: 400;
  line-height: 19.07px;
  letter-spacing: 0.02em;
  text-align: left;
  padding: 0.5rem 0rem;
}

.card:has(.card-4sa) > p {
  margin: 3rem;
  font-size: 16px;
}

.card-4sa:has(#intro-4sa-collapsible:checked) > .card-4sa-content {
  height: 100px;
}

.card-4sa-collapsible > img {
  transition: all 0.5s;
  transform: rotate(180deg);
}

.card-4sa:has(#intro-4sa-collapsible:checked) .card-4sa-collapsible > img {
  transform: rotate(0deg);
}

.card-4sa:has(#thread-4sa-collapsible:checked) > .card-4sa-content {
  height: 220px;
}

.card-4sa:has(#thread-4sa-collapsible:checked) .card-4sa-collapsible > img {
  transform: rotate(0deg);
}
